@import "tailwindcss";

:root {
  --white-smoke: #e5e2d6;
  --black: #292f33;
  --purple: #4f52be;
  --logo-complet: 5.5vh;
  --logo-small: 1.4vw;
  --studio-logo: .82em;
  --yellow: #ddab45;
  --red: #ba4f5e;
  --size-font-hero: 3.5vw;
  --border-2: 2px;
  --radius: 6px;
  --espacement-section: 12vh;
  --gap-etiquette: 2vw;
  --white: white;
  --animation-h2: 6vw;
  --yellow-dark: #c29230;
  --invert-black: #bcb3a4;
  --invert-purple: #969018;
  --invert-yellow: #083791;
  --invert-red: #2b9378;
  --padding-nav: 5vh;
  --padding-intro: 18vh;
  --border-radius-big: 6px;
  --studio-small: .934em;
  --padding-nav-small: 2.2vh;
  --vhs-item-width: 80vw;
  --interlettrage-h2: 2vw;
  --marge-interlettrage-h2: -2vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pos {
  inset: -6vw 0 auto -31vw;
}

.wrapper-all-expertises {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 9vh;
  padding-right: 15vw;
  display: flex;
  position: relative;
}

.wrapper-all-mea__expertise {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.layout-etiquette-expertise-first {
  border-radius: var(--radius);
  background-color: var(--white-smoke);
  flex-direction: column;
  display: flex;
  position: sticky;
  top: 25vh;
}

.layout-etiquette-expertise {
  padding: var(--gap-etiquette);
  border: var(--border-2) solid var(--black);
  border-radius: var(--radius);
  background-color: var(--white-smoke);
  flex-direction: column;
  width: 38vw;
  display: flex;
  position: sticky;
  top: 25vh;
}

.wrapper-titre__etiquette {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  border-bottom: 2px solid var(--black);
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: baseline;
  min-height: 5.6vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  display: flex;
}

.purpple {
  color: var(--purple);
}

.card-expertise {

  background-color: var(--black);
  border: 3px solid #e5e2d633;
  border-radius: 20px;

  width: 80vw;
  height: 40vw;

}

.card-header {
  background-color: #e5e2d61a;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 15%;
  display: flex;
  position: relative;

}

.bottom-top-bettacam {
  background-color: var(--black);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 99%;
  height: 50%;
  position: absolute;
  inset: auto 0% -1% .5%;

}

.bottom-top-film-header {
  background-color: var(--black);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 99%;
  height: 50%;
  position: absolute;
  inset: auto 0% -1% .5%;
}

.logo-vhs-expertises {
  opacity: .5;
  height: 2vw;
  margin-top: .3vw;
}

.wrapper-mea-prod {
  height: 45vh;
}



/* card button*/
.wrapper-btn-etiquette {
  flex: 1;
  align-self: flex-start;
  padding-top: 1.2em;
  font-size: 1.2vw;
  display: flex;
}

.btn-arrow {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  perspective: 1000px;
  perspective-origin: 50% 0;
  font-variation-settings: "wght" 600, "wdth" 200;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0;
  font-size: 1.4em;
  line-height: 1;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transform: none;

}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

txt-btn__arrow-1 {
  border: var(--border-2) solid var(--black);
  background-color: var(--black);
  transform-origin: 50% 0;
  color: var(--white-smoke);
  white-space: nowrap;
  transform-style: preserve-3d;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: .3em;
  display: flex;
  position: absolute;
  inset: auto;
  transform: rotateX(-89.5deg) rotateY(0) rotate(0);
}

.txt-btn__arrow-2 {
  border: var(--border-2) solid var(--black);
  transform-origin: 50% 0;
  color: var(--black);
  white-space: nowrap;
  border-radius: 2px;
  padding: .3em;
}

/* Experties card content*/


.yellow {
  color: var(--yellow-dark);
}

h3 {
  font-variation-settings: "wght" 900, "wdth" 170;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 1;
}

.wrapper-content__etiquette {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--black);
  justify-content: space-between;
  align-items: baseline;
  height: 2.2vw;
  padding-top: .8rem;
  padding-bottom: .2rem;
  display: flex;
}

txt-expertise {
  font-variation-settings: "wght" 350, "wdth" 80;
  -webkit-text-stroke-color: var(--white-smoke);
  text-transform: uppercase;
  font-size: 1.2vw;
  line-height: 1;
}

.txt-expertise {
  font-variation-settings: "wght" 350, "wdth" 80;
  -webkit-text-stroke-color: var(--white-smoke);
  text-transform: uppercase;
  font-size: 1.2vw;
  line-height: 1;
}

.wrapper-left__betacam {
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 32vw;
  display: flex;
  position: relative;
  top: 1vw;
}